
{:paths ["source-code/cljc"]
 :deps  {re-frame/re-frame        {:mvn/version "1.2.0"}
         bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "85fd9f2270aa1c0936a6657c6bdc71f860965c5f"}}}
