
{:paths ["source-code/cljc"]
 :deps  {re-frame/re-frame        {:mvn/version "1.2.0"}
         bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "b7604fc296c2f8fef7be1dae03745eb5eda3c122"}}}
