
{:paths ["source-code/cljc"]
 :deps  {re-frame/re-frame        {:mvn/version "1.2.0"}
         bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "32561d815e30ce19472958210448fd13ce47b4b4"}}}
